#
{
    order cache before rewrite
    cache
}

:80 {
    cache
    reverse_proxy 192.168.10.32:80 192.168.10.33:80 {
    health_interval 5s # Intervalo de comprobación de salud (opcional)
    health_timeout 2s # Tiempo de espera de la comprobación de salud (opcional)
    health_status 2xx # Código de estado HTTP esperado para la comprobación de salud (opcional)
    }
}

