authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = yourdomain.com
DNS.2 = www.yourdomain.com
IP.1 = 192.168.10.32
IP.2 = 192.168.10.33
IP.3 = 192.168.10.12
IP.4 = 192.168.10.13
IP.5 = 192.168.10.22
IP.6 = 192.168.10.23
