:8080 {
    reverse_proxy / {
        to 192.168.10.32:8080 192.168.10.33:8080
        lb_policy round_robin # Política de balanceo de carga

        lb_retries 2
        fail_duration 10s

        health_interval 5s # Intervalo de comprobación de salud (opcional)
        health_timeout 2s # Tiempo de espera de la comprobación de salud (opcional)
        health_status 2xx # Código de estado HTTP esperado para la comprobación de salud (opcional)
    }
    
}
