[ req ]
default_bits       = 2048
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_ca  # The extensions to add to the self-signed cert

[ req_distinguished_name ]
countryName                = Country Name (2 letter code)
countryName_default        = US
stateOrProvinceName        = State or Province Name (full name)
stateOrProvinceName_default= California
localityName               = Locality Name (eg, city)
localityName_default       = San Francisco
organizationName           = Organization Name (eg, company)
organizationName_default   = Example Corp
organizationalUnitName     = Organizational Unit Name (eg, section)
organizationalUnitName_default = IT Department
commonName                 = Common Name (e.g., fully qualified host name)
commonName_default         = yourdomain.com
commonName_max             = 64

[ req_ext ]
subjectAltName = @alt_names

[ v3_ca ]
subjectAltName = @alt_names
authorityKeyIdentifier = keyid,issuer:always
basicConstraints = CA:TRUE
keyUsage = keyCertSign, cRLSign

[ alt_names ]
DNS.1 = yourdomain.com
DNS.2 = www.yourdomain.com
IP.1 = 192.168.10.32
IP.2 = 192.168.10.33
